.toolbar-btn {
    background-color: rgb(91, 91, 91);
    -unity-font: url("project://database/Library/unity%20default%20resources?fileID=10102&guid=0000000000000000e000000000000000&type=0#LegacyRuntime");
}

.default-Label {
}

.prefab-viusal {
    flex-grow: 1;
    height: 30px;
    border-bottom-width: 1px;
    border-left-color: rgb(40, 40, 40);
    border-right-color: rgb(40, 40, 40);
    border-top-color: rgb(40, 40, 40);
    border-bottom-color: rgb(40, 40, 40);
}
